# Following should be a user and password you create just for this app
# NOT your mlab username and password

export MONGODB_USER=scrapstosnacksuser
export MONGODB_PASS=scrapstosnacks1
export MONGODB_NAME=scrapstosnacksdb
export MONGODB_HOST=ds020208.mlab.com
export MONGODB_PORT=20208

heroku  config:set MONGODB_USER=${MONGODB_USER} --app scrapstosnacks
heroku  config:set MONGODB_PASS=${MONGODB_PASS}	--app scrapstosnacks
heroku  config:set MONGODB_NAME=${MONGODB_NAME}	--app scrapstosnacks
heroku  config:set MONGODB_HOST=${MONGODB_HOST}	--app scrapstosnacks
heroku  config:set MONGODB_PORT=${MONGODB_PORT}	--app scrapstosnacks
