<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Recipe Form</h1>

<form action="/submitted" method="get">
  Recipe Name:<br>
  <input type="text" name="recipename" value="ex: Chicken and Rice">
  <br> <br> <br>
  Ingredient 1: <br>
  <input type="text" name="amount1" value="Amount">
  <input type="text" name="ingredient1" value="Ingredient">
  <br><br>
  Ingredient 2: <br>
  <input type="text" name="amount2" value="Amount">
  <input type="text" name="ingredient2" value="Ingredient">
  <br><br>
  Ingredient 3: <br>
  <input type="text" name="amount3" value="Amount">
  <input type="text" name="ingredient3" value="Ingredient">
  <br><br>
  Ingredient 4: <br>
  <input type="text" name="amount4" value="Amount">
  <input type="text" name="ingredient4" value="Ingredient">
  <br><br>
  Ingredient 5: <br>
  <input type="text" name="amount5" value="Amount">
  <input type="text" name="ingredient5" value="Ingredient">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/display".</p>


 {{> bootstrap-from-cdn-body }}
</body>
</html>
