<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
<#list recipes as recipe>
    <div>
         <h3> ${recipe.title}</h3>
         <div>${recipe.f2f_url}</div>
    </div>
</#list>
 {{> bootstrap-from-cdn-body }}
</body>
</html>



