<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Search</h1>
 <h3>This is for searching the recipes by name</h3>

<p>
<form action="/result/byname" method="get">
  Search by recipe name:<br>
  <input type="text" name="recipename" value="Chicken and Rice">
  <br><br>
  <input type="submit" value="Submit">
  <br><br>
</form>

  <h3> This is for searching recipes by ingredients.</h3>
  <p> When typing the ingredients, please separate each ingredient with a comma, no spaces. <br>
<form action="/result/byingredients" method="get">
  Search by ingredients:<br>
  <input type="text" name="ingredients" value="chicken,rice">
  <br><br>
  <input type="submit" value="Submit">
  <br><br>
</form>


</p>

 {{> bootstrap-from-cdn-body }}
</body>
</html>
