<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>This is for searching the recipes, enter the name of recipe you want</h1>

<p>
<form action="/result/byname" method="get">
  Search by recipe name:<br>
  <input type="text" name="recipename" value="Chicken and Rice">
  <br><br>
  <input type="submit" value="Submit">
</form>
</p>

 {{> bootstrap-from-cdn-body }}
</body>
</html>
