<!DOCTYPE html>
<html>
{{>head}}
<body>
{{> nav}}
<h1> You added a new recipe: {{recipename}}! </h1>
<br><br>
<p> Ingredients:</p> <br>
<p> {{amount1}} {{ingredient1}} <br>
{{amount2}} {{ingredient2}} <br>
{{amount3}} {{ingredient3}} <br>
{{amount4}} {{ingredient4}} <br>
{{amount5}} {{ingredient5}} <br>
</p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>



