<!DOCTYPE html>
<html>
{{>head}}
<body>
{{> nav}}
<h1> You added a new recipe: {{recipename}}! </h1>
<br><br>
<p> Ingredients:</p> <br>
<p>
 {{ingredient1}} <br>
 {{ingredient2}} <br>
 {{ingredient3}} <br>
</p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>



